{% load static %} 

<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <title>GEMSEC Application Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" src="{% static 'css/bootstrap.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">GEMSEC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members/">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/papers/">Papers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/md_analysis/">MD Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
</div>
<br/><br/>
<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
            {% block content %}
            {% endblock %}
    </div>
    <div class="col">
    </div>
  </div>
</div>
<br/><br/>
<footer class="container-fluid">
  <p><a href='/admin/' style="text-align: center">Admin Panel</a></p>
  {% if user.is_authenticated %}
                    <small>User: {{ user.get_username }}</small>
                    {% else %}
                    <p>Welcome, new user. Please log in.</p>
                    {% endif %}
</footer>

</body>
</html>