{% extends 'main/base.html' %}

{% block content %}
{% load static %}
{% static "" as baseUrl %}

<style>
  .fit-image{
    width: 100%;
    object-fit: cover;
}
</style>
<div class = "row">
  <div class = "col">
    <h2>MD Visualization</h2>
  </div>
  <div class = "col">
    <h2>Visualization Output</h2>
  </div>
</div>
<div class = "row">
  <div class="col">
      <p>This is where the Hilbert visualization will be.</p>
      <p>Select the type of analysis to run:</p>
      <br/><br/>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>
<div class="col">
  {% if submitted %}
    <h5>Visualization plot:</h5>
    <p><strong>Analysis:</strong> {{ analysis}};</p>
    <p><strong>Visualization:</strong> {{ visualization }}</p>
    <img src="{{ plt_path }}" class="img-responsive fit-image"/>
    <p>{{ plt_path }}</p>
  {% endif %}
  <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span>Download Analysis</button>
  </div>
</div>
{% endblock %}