<h2>MD Visualization</h2>
      <p>This is where the Hilbert visualization will be.</p>
      <p>Select the type of analysis to run:</p>
      <form>
        <input type="radio" name="analysis" value="cossin_pca" checked>Cos/Sin PCA<br>
        <input type="radio" name="analysis" value="hilbert_pca">Hilbert PCA<br>
        <input type="radio" name="analysis" value="doublehilbert_pca"> Double Hilbert PCA<br>
      </form>
      <br/>
      <p>Upload the .pdb file for analysis:</p>
      <input type="file" name="photo" id="fileSelect" method="post"><br>
      <input type="submit" name="submit" value="Upload" method="post">
      <br/><br/>
      <button type="button" class="btn btn-outline-success">Begin Analysis</button>
      <br/><br/><br/></br>
      <h3>Visualization Output</h3>
      <br/>
      <input type="submit" name="download" value="Download Analysis">