{% extends 'main/base.html' %}

{% block content %}
<div class = "row">
  <div class = "col">
    <h2>MD Visualization</h2>
  </div>
  <div class = "col">
    <h2>Visualization Output</h2>
  </div>
</div>
<div class = "row">
  <div class="col">
      <p>This is where the Hilbert visualization will be.</p>
      <p>Select the type of analysis to run:</p>
</div>
<div class="col">
  <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span>Download Analysis</button>
  </div>
</div>
{% endblock %}